
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<meta name="viewport" content="initial-scale=1">
</head>
<body>
	<h1>My website</h1>
	<nav>
		<img src="hamburger.png" class="hamburger" alt="">
	  <ul class="nav-bar">
	    <li class="<%= @home%> nav-item"><a  href="/">Home</a></li>
	    <li class="<%= @about%> nav-item"><a href="/about">About</a></li>
	    <li class="<%= @activities%> nav-item"><a href="/activities">Activities</a></li>
	    <li class="<%= @contact%> nav-item"><a href="/contact">Contact</a></li>
	  </ul>
	</nav>

	<div class="main-container">
	  <%=yield %>
	</div>

	<footer>
		<div class="footer"></div>
	</footer>
<script src="/scripts/script.js" charset="utf-8"></script>
</body>

</html>
